@import './utilities/_responsive.styl'

.header
    &--removePadding
        padding-right 0 !important

    &__logo
        width 100%
        max-width 50px

        +atMedium()
            max-width 90px
