.input
    &--disableSpinner
        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
            -webkit-appearance none
            margin 0

        &[type=number]
            -moz-appearance textfield

    &__elements
        &--textWidth
            width 25%

            +atMedium()
                width 35%
