.jobShowcase
    &__options
        &:hover
            background-color lighten(gray, 50%)

        &:active
            background-color gray

        &--active
            background-color lighten(gray, 30%)